:root.theme-dark {
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
  --title-color: #DB00FF;
  --accent-subtitle-color: #000028;
  --accent-decoration-color: #FF0070;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --accent-hover-color: rgba(255, 0, 112, 0.5);
}