:root.theme-light {
  --main-bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #FFC2E6;
  --title-color: #FFC2E6;
  --accent-subtitle-color: #353430;
  --accent-decoration-color: #353430;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --accent-hover-color: rgba(53, 52, 48, 0.5);
}

.theme-light .header__decoration {
  display: none;
} 

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-image: url(../images/cover-image-light.png);
    --main-bg-color: #FFC2E6;
    --title-color: #FFC2E6;
    --accent-subtitle-color: #353430;
    --accent-decoration-color: #353430;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --accent-hover-color: rgba(53, 52, 48, 0.5);
  }

  .theme-auto .header__decoration {
    display: none;
  } 
}