.page {
  background-image: var(--main-bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  justify-items: start;
  align-items: center;
  padding: var(--projects-padding);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: var(--projects-padding);
  inset-inline-end: var(--projects-padding);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: var(--projects-padding);
  inset-inline-start: var(--projects-padding);
}

.header__decoration {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  inset-block-start: var(--projects-padding);
  inset-inline-end: var(--projects-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.header__decoration::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-end: 9px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-transform: lowercase;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  padding: 4px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__discription {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  max-inline-size: 364px;
  justify-self: end;
}

.title-decor {
  color: var(--header-discription-color);
  background-color: var(--accent-color);
}

