:root {
  --main-bg-image: url(../images/cover-image.png);
  --main-bg-color: #000028;
  --title-color: #DB00FF;
  --header-discription-color: #000028;
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --accent-menu-button-color: #FF0070;
  --accent-hover-color: rgba(255, 0, 112, 0.5);
  --main-padding: 10px;
  --section-margin: 30px 0;
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --section-margin: 40px 0;
  }
}